name: Deploy Pages

on:
  push:
    branches:
      - main
      - 'scaffold/**'

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: progress-tracker
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
